<library path="lib/libreport_gui">
  <class name="report_gui/ReportGUI" type="report_gui::ReportGUI" base_class_type="rqt_gui_cpp::Plugin">
    <description>
      A template for ROS GUIs
    </description>
    <qtgui>
      <label>GUI Template for ROS</label>
      <icon type="theme">system-help</icon>
      <statustip>GUI Template</statustip>
    </qtgui>
  </class>
</library>
